  <header class="page-header">
    <h1>Home &raquo; About Us</h1>
  </header>
<div>
  <p>Welcome to Jungle, your one-stop shop for all things plants! We are passionate about bringing the beauty and serenity of nature into your homes and offices.</p>

  <p>At Jungle, we offer a wide variety of plants, from lush green foliage to vibrant flowers. Whether you're a seasoned plant enthusiast or just starting your plant journey, we have something for everyone.</p>

  <p>Our mission is to provide you with top-quality plants that are not only visually stunning but also help create a healthier and more inviting environment. We carefully source our plants from trusted growers to ensure their freshness and vitality.</p>

  <p>Our team of experienced plant enthusiasts is dedicated to guiding you on your plant parenthood journey. We provide expert advice, care tips, and personalized recommendations to help you choose the perfect plants for your space and lifestyle.</p>

  <p>Join us in embracing the wonders of nature and enhancing your surroundings with the calming presence of plants. Explore our collection, get inspired, and let Jungle be your go-to destination for all your plant needs.</p>

  <p>Start your green adventure with Jungle today!</p>
</div>
